/*
 * Colors
 * #004D65 - Teal - Background
 * #2885B3 - Light Blue - Cartridge
 *
*/

/* Google Fonts */
@font-face {
	font-family: 'Ubuntu-Regular';
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PressStart2P-Regular';
	src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Online Web Fonts */
@font-face {
	font-family: 'CubicFive10';
	src: url('../fonts/CubicFive10.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--blue-lighten-1     : #42BBEC; /* */
	--blue               : #2885b3; /* */
	--blue-darken-1      : #004d65; /* Deep Blue Highlight */
	--blue-darken-2      : #0D3A4D; /* Deep Blue           */
	--green              : #51BE97; /* */
	--green-darken-1     : #3E9482; /* */
	--red-txt		     : #ff5783;
	--red-1              : #EE3B6A; /* */
	--red-2			     : #B04364; /* */
	--red-3              : #7d445d; /* */
	--yellow             : #b2a063; /* */
	--yellow-lighten-1   : #ffd166; /* */
	--white              : #ffffff; /* */
	--tablet-width       :       55%; /* Tablet Width */
	--main-horiz-padding :      2rem; /* horizontal padding for nav and tabs */
}

body {
  background-color: var(--blue-darken-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PressStart2P-Regular';
}

body,
a {
  font-family: 'Ubuntu-Regular';
  color: #fff;
}

a {
  text-decoration: none;
}

.cartridge {
  background-image: url(images/svg/category.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 20px;
  position: relative;
  transition: all .2s;
}

.cartridge-label h6 {
  font-size: .8rem;
  text-transform: uppercase;
}

.cartridge-label {
  width: 150px;
  height: 150px;
  top: 50%;
  left:50%;
  padding: 5px;
  -webkit-transform:translate(10%, 20%);
  transform:translate(10%, 20%);
  background-color: var(--blue);
}

.cartridge-wrap {
  float: right;
}

.cartridge:hover {
  background-image: url(images/svg/category_active.svg);
}

.cartridge:hover .cartridge-label {
  background-color: var(--blue-lighten-1);
}

/* Alignment */
spline-viewer {
  position: absolute;
}

spline-viewer #container {
  /* height: 100vh; */
}

ul.contact-wrap {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact {
  background: linear-gradient(90deg, var(--blue-darken-1) 30%, var(--blue));
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5%;
  margin: 5% 0;
  min-width: 250px;
  transition: all 0.5s linear;
}

.contact:hover {
  background: var(--blue-darken-1);
  scale: 1.05;
}

.contact::after {
  content: '';
  background: var(--blue-lighten-1);
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.contact:hover::after {
  width: 100%;
}

.contact h6 {
  margin-bottom: 0;
}

.contact i {
  transform: rotate(-45deg);
  float: right;
  transition: all .5s ease-in-out 0s;
}

.contact:hover i {
  transform: rotate(325deg);
}

.contact .row .col-sm-10 {
  align-content: center;
}